<div class="landing user-landing-container">
    <%- include('./partials/landing-nav.ejs') %>
    <div id="adminLoginModalDiv" class="admin-login-modal-div hidden">
        <%- include('./partials/admin-login.ejs') %>
    </div>
    <div class="exercise-wrapper">
        <div class="header-wrapper">
        <h1>Exercise Tracker</h1>
        <h2><%= name %></h2>
        </div>
        <div class="exercise-form-wrapper">
            <form class="exercise-form" method="POST" action="/landing/user-exercises/<%= id %>">
                <div class="form-input-div">
                    <input type="text" name="exercise" placeholder="Type of Exercise" required />
                </div>
                <div class="form-input-div">
                    <input type="number" name="quantity" placeholder="How many?" required/>
                </div>
                <div class="form-input-div">
                    <input type="number" name="duration" placeholder="For how long (in minutes)?" required/>
                </div>
                <div class="form-input-div exercise-input-btn-div">
                    <button type="submit" id="exerciseInputBtn" class="btn exercise-input-btn">Log In Exercise</button>
                </div>
                <div class="form-input-div my-exercises-btn-div">
                    <button type="button" id="myExercisesBtn" class="btn exercise-input-btn">My Exercise Log</button>
                </div>
            </form>
        </div>
    </div>
    <div id="exTableModal" class="my-exercise-log-div <%= showLog %>">
            <%- include('./partials/my-exercise-log.ejs') %>
    </div>
</div>
<script defer src="/assets/javascript/user.js"></script>