<div class="exercise-log-container">
    <div class="close-modal">
        <a id="exTableModalAnchor" class="modal-anchor" href="#">
            <span></span>
            <span></span></a>
    </div>
    <div class="header-wrapper">
        <h2><%= name %></h2>
        <p><%= id %></p>
    </div>
    <div class="exercise-log-table-wrapper">
        <table class="exercise-log-table">
            <tr>
                <th>Date</th>
                <th>Exercise</th>
                <th>Number of times</th>
                <th>Duration</th>
                <th>Update</th>
            </tr>
            <% if (exercises.length !== 0) { %>
            <% exercises.forEach((exercise) => { %>
            <tr>
                <td><%= moment(exercise.timestamp).format('LLL') %></td>
                <td><%= exercise.type %></td>
                <td><%= exercise.quantity %></td>
                <td><%= exercise.duration %></td>
                <td><button id="exerciseEditBtn" class="btn exercise-update-btn" type="button">edit</button><td>
            </tr>
            <div id="exerciseUpdateModal" class="exercise-update-wrapper hidden">
                <form method="POST" action="/exerciseUpdate/<%= exercise._id %>">
                    <div class="form-input-div">
                        <input type="text" name="type" value="<%= exercise.type %>" />
                    </div>
                    <div class="form-input-div">
                        <input type="number" name="quantity" value="<%= exercise.quantity %>" />
                    </div>
                    <div class="form-input-div">
                        <input type="number" name="duration" value="<%= exercise.duration %>" />
                    </div>
                    <div class="form-input-div form-submit-btn-div">
                        <button type="submit" id="updateExerciseBtn" class="btn update-exercise-btn">Update
                            Exercise</button>
                    </div>
                </form>
                <div class="form-input-div form-submit-btn-div">
                    <button type="button" id="exerciseDeleteBtn" class="btn exercise-delete-btn"
                        onClick="window.location.href='/exerciseUpdate/exercise-delete/<%= exercise._id %>'">Delete
                        Exercise</button>
                </div>
            </div>
            <% }); %>
            <% } %>
        </table>
    </div>
</div>