<div class="exercise-log-container">
    <h2><%= name %></h2>
    <p><%= id %></p>
    <div class="exercise-log-table-wrapper">
        <table class="exercise-log-table">
            <tr>
                <th>Date</th>
                <th>Exercise</th>
                <th>Number of times</th>
                <th>Duration</th>
            </tr>
            <tr>
                <td><%= date %></td>
                <td><%= exercise %></td>
                <td><%= quantity %></td>
                <td><%= duration %></td>
            </tr>
        </table>
    </div>
</div>