<div class="exercise-log-container">
    <div class="close-modal">
        <a id="exTableModalAnchor" class="modal-anchor" href="#">
            <span></span>
            <span></span></a>
    </div>
    <div class="header-wrapper">
        <h2><%= name %></h2>
        <p><%= id %></p>
    </div>
    <div class="exercise-log-table-wrapper">
        <table class="exercise-log-table">
            <tr>
                <th>Date</th>
                <th>Exercise</th>
                <th>Number of times</th>
                <th>Duration</th>
                <th>Update</th>
            </tr>
            <% if (exercises.length !== 0) { %>
            <% exercises.forEach((exercise) => { %>
            <tr>
                <td><%= moment(exercise.timestamp).format('LLL') %></td>
                <td><%= exercise.type %></td>
                <td><%= exercise.quantity %></td>
                <td><%= exercise.duration %></td>
                <td><button class="btn exercise-update-btn" type="button" href="/landing/exercise-update/<%= exercise._id%>">Edit</button>
            </tr>
            <% }); %>
            <% } %>
        </table>
    </div>
</div>
